#imgs1{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs2{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs3{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs4{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs5{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs6{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs7{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs8{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs9{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs10{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs11{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs12{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs13{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs14{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs15{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs16{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs17{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs18{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
#imgs19{
    border-radius: 30px;
    border: 10px solid transparent;
    border-color: #fff;

}
.award-select{float:left}
.award-select{width: 30%;}



#adding-logo{
    border-radius: 110px;
    border-color: red;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#uploadedfolder {
  width: 2px;
  height: 2px;
  visibility: hidden;
  margin: 0px;
  border: 0px;
}

/* loading  */
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #8d2020;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* img title */
.container {
    position: relative;
    /* text-align: center; */
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #title{
    color: brown; float: left;
  }

  #options{
    color: brown; float: right;
  }

/* onmouse release  */


.popup {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 50%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -0px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popup .hide{
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* toggle - switch  */

.text-switch{
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* img {
    pointer-events: none;
} */


/* Button Download */
#download {
  max-width: 560px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 2;
  color: #222;
}

.download {
  background: #76B3FA;
  border-radius: 100px;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px;
  border-radius: 10px;
}

/* Hover state animation applied here */
#download:hover { 
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
#download:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate; 
  background: #5F9BE0;
}
.gray { background: #D2D2D2; }
.gray:active { background: #b9b9b9; }

/* Active state animation keyframes below */

@-webkit-keyframes active { 
  0% {transform: scale(1,1);}
  90% {transform: scale(.9,.88);}
  100% {transform: scale(.92,.9);}
}

keyframes active { 
  0% {transform: scale(1,1);}
  90% {transform: scale(.9,.88);}
  100% {transform: scale(.92,.9);}
}

/* Hover state animation keyframes below */

@-webkit-keyframes hover { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.8% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.5% { -webkit-transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.31% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.01% { -webkit-transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.91% { -webkit-transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.61% { -webkit-transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.41% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.32% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.12% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.02% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.82% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.53% { -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.23% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.64% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.45% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.86% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.27% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.77% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.18% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.59% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes hover { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.8% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.5% { -webkit-transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.31% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.01% { -webkit-transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.91% { -webkit-transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.61% { -webkit-transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.41% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.32% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.12% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.02% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.82% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.53% { -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.23% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.64% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.45% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.86% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.27% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.77% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.18% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.59% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}



#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs26{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs27{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs28{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs18{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs9{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs26{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs27{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs28{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs26{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs26{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs27{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs28{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs29{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs30{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs31{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs32{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs33{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs26{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs30{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs31{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs32{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs33{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs34{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs35{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs36{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs39{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs40{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs26{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#block_inline {
    display: inline-block;
}

#img_margin {
  margin-right: 15px;
  margin-bottom: 50px
}

#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs25{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }

.swap-button {
	background-color:#44c767;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
height:40px;
	line-height:40px;
width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}.swap-button:hover {
	background-color:#ace288;
}.swap-button:active {
	position:relative;
	top:1px;
}
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#tip_signin{
  color: navy;
  text-indent: 30px;
  text-transform: uppercase;
}
.square {
  background: #000;
  background-size: 150% auto;
  background-color: rgb(239, 239, 239);
  width: 117px;
  height: 117px;
}
.square h1 {
  color: #fff;
}

.album_button{
  width: 250px;
  height: 250px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px;
  margin-bottom: 10px;
}
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs19{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs20{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs21{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs22{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs23{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }
#imgs24{
                        border-radius: 30px;
                        border: 10px solid transparent;
                        border-color: #fff;
                        }