<div align="center">
    <img style="border-radius: 50%;" width="300" src="/static/logo/bgr.gif"/>
    <br/><br/><br/><br/>
    Welcome to 404 Nonavel - AI Team
    <footer>@Nonavel significant </footer>
</div>
    