<!DOCTYPE html>
<html>
    <head>
        <title>Beta Hair-Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
        <script type="text/javascript">
            var sizeFolder = {{sizeFolder}};
            var imgs_client_path = "{{imgs_client_path}}";
            var sizeFolderOrigin = {{sizeFolderOrigin}};
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/script/scripts_generate.js?version=1.0.0"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='script/scripts.js') }}"></script> -->
        <link rel="shortcut icon" type="image/x-icon" href="https://logobam.com/wp-content/uploads/2015/08/design-crawl-main-logo-square.jpg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='cache-control' content='no-cache'> 
        <meta http-equiv='expires' content='0'> 
        <meta http-equiv='pragma' content='no-cache'> 
        <meta Http-Equiv="Cache" content="no-cache">
        <meta Http-Equiv="Pragma-Control" content="no-cache">
        <meta Http-Equiv="Cache-directive" Content="no-cache">
        <meta Http-Equiv="Pragma-directive" Content="no-cache">
        <meta Http-Equiv="Cache-Control" Content="no-cache">
        <meta Http-Equiv="Pragma" Content="no-cache">
        <meta Http-Equiv="Expires" Content="0">
        <meta Http-Equiv="Pragma-directive: no-cache">
        <meta Http-Equiv="Cache-directive: no-cache">
    </head>
    <body onload="heroo(sizeFolder, sizeFolderOrigin, imgs_client_path)">      
        <div>
            <h1 onclick="face_generated()" id="options">Face-Generator</h1>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>
            <h1 align="center" style="color:rosybrown"> COMING SOON </h1>
            <h2>Chosen Faces here</h2>
            <hr width="100%" align="left" />

            {% for i,j in faces %}
                <img class="NO-CACHE" id="imgs{{i}}" src="{{imgs_client_path}}/img_{{i}}.jpg" width="100px"/>
            {% endfor %}
            <script>
                var nods = document.getElementsByClassName('NO-CACHE');
                for (var i = 0; i < nods.length; i++)
                {
                    nods[i].attributes['src'].value += "?a=" + Math.random();
                }
            </script>
            <hr width="100%" align="left" />
            <div id="loading"></div>
            <div id="result"></div>
    
        </div>
    </body>

</html>