<!DOCTYPE html>
<html>
    <head>
        <title>Nonavel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        <script type="text/javascript">
            var sizeFolder = {{sizeFolder}};
            var imgs_client_path = "{{imgs_client_path}}";
            var sizeFolderOrigin = {{sizeFolderOrigin}};
            var embeded;
            {% if folder %}
                var folder = "{{folder}}";
            {% endif %}
            // console.log(folder);
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/script/scripts.js?version=1.0.0"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='script/scripts.js') }}"></script> -->
        <link rel="shortcut icon" type="image/x-icon" href="https://logobam.com/wp-content/uploads/2015/08/design-crawl-main-logo-square.jpg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='cache-control' content='no-cache'> 
        <meta http-equiv='expires' content='0'> 
        <meta http-equiv='pragma' content='no-cache'> 
        <meta Http-Equiv="Cache" content="no-cache">
        <meta Http-Equiv="Pragma-Control" content="no-cache">
        <meta Http-Equiv="Cache-directive" Content="no-cache">
        <meta Http-Equiv="Pragma-directive" Content="no-cache">
        <meta Http-Equiv="Cache-Control" Content="no-cache">
        <meta Http-Equiv="Pragma" Content="no-cache">
        <meta Http-Equiv="Expires" Content="0">
        <meta Http-Equiv="Pragma-directive: no-cache">
        <meta Http-Equiv="Cache-directive: no-cache">
        <style>
            .alert.warning {background-color: #ff9800;}
      
            .closebtn {
               margin-left: 15px;
               color: white;
               font-weight: bold;
               float: right;
               font-size: 22px;
               line-height: 20px;
               cursor: pointer;
               transition: 0.3s;
            }
      
            .closebtn:hover {
               color: black;
            }
         </style>
      
      
        <!-- <link rel="" href="#"> -->
  
    </head>
    <body id="body" onload="heroo(sizeFolder, sizeFolderOrigin, imgs_client_path)">
        <!-- Notofication -->

        {% if alert_message %}
        <div class="alert warning">
           <span class="closebtn">&times;</span>  
           <strong>Warning!</strong> {{alert_message}}
        </div>
        {% endif %}
        <script>
           var close = document.getElementsByClassName("closebtn");
           var i;
           
           for (i = 0; i < close.length; i++) {
             close[i].onclick = function(){
               var div = this.parentElement;
               div.style.opacity = "0";
               setTimeout(function(){ div.style.display = "none"; }, 600);
             }
           }
        </script>
        
        <!-- Notofication -->
        <div>
            <a href=""><h1 id="title">Face Licensing Platform</h1></a>
        </div>
        
        <div>
            <h1 style="margin-bottom: 5px;" onclick="face_generated()" id="options">Face-Generator</h1>
            <!-- <a href="/face-generated/"><h1 id="options">Face-Generated</h1></a> -->
            <!-- <div> -->
            <!-- </div> -->
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>
            <a style="float: right; margin-right: 10px;" href="/logout">Sign out</a>
            <h2 style="float: none; width: 50%;">Choose faces here</h2>

            <hr width="100%" align="left" />
            {% for i,j in faces %}
                <img class="NO-CACHE" onclick="increase(sizeFolder, {{i}})" id="imgs{{i}}" src="{{imgs_client_path}}/img_{{i}}.jpg" width="100px"/>
            {% endfor %}
            <script>
                var nods = document.getElementsByClassName('NO-CACHE');
                for (var i = 0; i < nods.length; i++)
                {
                    nods[i].attributes['src'].value += "?a=" + Math.random();
                }
            </script>
                <img alt="Add img" onclick="adding()" id="adding-logo" src="/static/logo/add.png" width="96px" style="margin-bottom: 10px; border: 2px solid #CCCCCC;"/>
                <div id="adding"></div>
            
        </div>

        <!-- <h1 id='keypress_con'></h1> -->
        <hr  width="100%" align="left" />

        <div>
            <h2 style="float: none; width: 50%; margin-top: 0px; margin-bottom: 0px;">Choose default albums here</h2>

            <hr width="100%" align="left" />

            {% for i in album_details.keys() %}                        
                <form  action = "" method = "POST" style="display: inline-block;">
                    <button class="album_button" onclick="selectDefaultFolder('{{i}}')" type="submit" name="default_album" value="{{i}}">
                        <div class="square" style='background-image: url("{{i}}/{{album_details[i][0]}}"); float: left; margin-right: 2px; margin-bottom: 2px;' role="img"></div>
                        <div class="square" style='background-image: url("{{i}}/{{album_details[i][1]}}"); float: right; margin-bottom: 2px;' role="img"></div>
                        <div class="square" style='background-image: url("{{i}}/{{album_details[i][2]}}"); float: left; margin-right: 2px;' role="img"></div>
                        <div class="square" style='background-image: url("{{i}}/{{album_details[i][3]}}"); float: right;' role="img"></div>
                    </button>
                </form>
            {% endfor %}

            <hr width="100%" align="left" />
        </div>

        
        <div>
                <h2 id="h2" style="width: 50%; float:left;" align="center">Upload Folder Here</h2>
                <h2 id="h2" style="width: 50%; float:right;" align="center">Remove Watermark?</h2>

                    <form  action = "" method = "POST"
                    enctype = "multipart/form-data" style="width: 50%; float:left; margin-top: 20px;">
                        <div id="input" align="center">
                            ✅<span style="color:goldenrod; font-size: larger;">Input Folder Here</span>
                            <!-- <input onchange="selectFolder(event)" name = "directory" type="file" webkitdirectory mozdirectory /> -->
                            <input name = "directory" type="file" webkitdirectory mozdirectory style="width: 255px;"/>
                            <input type="text" id="uploadedfolder" name="uploadedfolder"/>
                            <Input type="submit" onclick ="rename_folder()" value="Submit"/>
                        </div>
                    </form>
                

                    <form method="POST" style="width: 50%; float:right" align="center">
                        <p align="center" style="margin-top: 5px; margin-bottom: 10px;">Enter your phone number here</p> 
                        <div align="center">
                            <input type="tel" name="phone">
                            <button id="download_button" type="submit" name="email" value='VP9' disabled>Submit</button>
                        </div>
                    </form>

                <!-- <label class="switch"><input onchange="action_result(0)" type="checkbox" checked><span class="slider round"></span></label> -->
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <!-- <br/><br/> -->
            <hr width="100%" align="left" />

            <div id="swap_button">
                <p style="width: 40%; float: left; text-align: right; margin-bottom: 5px;">Click</p>
                <!-- <input type="checkbox" id="reshape" name="reshape" value="1" style="margin-top: 17px;">
                <label for="reshape">Swap with reshape</label>                 -->
                <button class="swap-button" alt="Take action" onclick="action(imgs_client_path)" width="200px" style="margin-left: 5px;margin-top: 6px; float: left;">SWAP</button>
                <button class="swap-button" alt="Take action" onclick="action(imgs_client_path, reshape=true)" width="200px" style="margin-left: 5px;margin-top: 6px; float: left; width: 200px;">SWAP WITH RESHAPE</button>
            </div>
            <div id="loading"></div>
            <br/><br/>
        
            <script>
                function action_result(intx){
                    var result = document.getElementById("result");
                    if (intx == 0)
                        result.innerHTML = '\n<label class="switch" style="float: left"><input onchange="action_result(1)" type="checkbox"><span class="slider round"></span></label><p class="text-switch">Switch to swapped image</p><br/><br/>{% for i in url_displays %}<img id=\"img_margin\" src="{{i}}" width="30%">{% endfor %}'
                    else if(intx==1)
                        result.innerHTML = window.embeded;
                }
            </script>
            
            <div id="result">

                <div>
                    {% for i in url_displays %}
                        <img class="award-select" src="{{i}}" width="30%">
                    {% endfor %}
                </div>

            </div>
        </div>
    </body>
</html>