<form action="" method="POST">
    <div align="center">
        <span style="font-size: 20px;">Check mail & input code to verify your account: </span><input type="input" name="code-verify">
        <button type="submit" class="btn form-control btn-default">VERIFY</button>

    </div>
</form>